.material-new-content-dialog {
  width: 720px;
  box-sizing: border-box;

  &__wrapper {
    padding: 0;
    margin: -8px;
  }

  .most-popular-content-types-container {
    h2 {
      font-size: 1.5rem;
    }
  }

  .most-popular-content-types-list,
  .recent-content-types-list,
  .content-types-list {
    padding-top: 10px;
  }

  .content-types-list {
    margin-top: 16px;
  }

  .content-types-list-item {
    padding: 0 10px 10px 15px;
  }

  .content-types-list {
    max-height: 160px;
    overflow-y: auto;
  }

  section {
  }

  aside {
    h1 {
      font-size: 1.5rem;
    }
  }

  .dropzone-container {
    .dialog-dropzone-container();
  }
}